@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #111313;
    --secondry: #98e5dd;
    --accent: #eeb58f;
}

body {
    color: white;
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
